/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */
 /* background-image: url(https://media.istockphoto.com/vectors/abstract-technical-background-vector-id1253930036?k=20&m=1253930036&s=612x612&w=0&h=eI4aTA5IP6ZGn4UeuReZCWuYCHQ2yk5UjSLiQVAXDiQ=);----->*/



 .ControlPanel{position: relative;
    background-color: rgb(26, 95, 56);;
    overflow: hidden;
    justify-items: right;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 40px;
    opacity: 100%;
    color: #EFEEF5;
    font-family: Arial, Helvetica, sans-serif;
    
 }


.Header{

    background-color: seagreen;
    height: auto;
    line-height: 1;
    word-wrap: break-word;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 20px;
    font-size: 18px;
    background-color: rgb(26, 95, 56);;
    border-color: seagreen;
    border-radius: 10px;
    color: white;
    align-items: middle;
    font-family: Arial, Helvetica, sans-serif;
}

.Background1{
    background-color: rgb(26, 95, 56);
    border-color: rgb(26, 95, 56);;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;   
    margin: auto;


    }

 

.Sections{
    background-color: rgb(26, 95, 56);;
    align-items: center;
    text-align: left;
    font-size: 20px;
    text-decoration: underline;    
    margin-left: 25%;
    margin-right:25%;
    font-family: Arial, Helvetica, sans-serif;


}

.textbox{
    text-align: left;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    align-items: left;
    margin-left: 25%;
    margin-right: 25%;


}
.textbox1{ 
    text-align: left;
    font-size: larger;
    max-width: 700px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: left;
    margin-left: 25%;
}

.chart{
    background-color: rgb(255, 255, 255);
    width: 680px;
    border-width: 2px;
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    align-items: center;
   text-align: center;
    border-radius: 10px;
    border-color: grey;

    @media screen and (max: width 480px){
        margin:auto
        background-color:black
    }
        
    }
   


.chart3{
    background-color:white;
    font: black;
    width: 680px;
    color: black;
    border-width: 2px;
    border-style: solid;
    align-items: left;
   text-align: center;
   margin-left: 25%;
   margin-right: 25%;
    border-radius: 10px;
    border-color: grey;
   
}
.chart2{
    align-items: right;
    align-content: center;

    background-color: rgb(255, 255, 255);
    width: 170;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    margin-left:  25%; ;
    margin-right: 25%;


}

.Sections2{
    background-color: rgb(26, 95, 56);;
    align-items: center;
    text-align: left;
    font-size: 20px;
    margin-left: 25%;
    margin-right:25%;
    font-family: Arial, Helvetica, sans-serif;


}


.Background2{
    background-color: rgb(26, 95, 56);
    border-color: rgb(26, 95, 56);;
    border-radius: 10px;
    align-items: center;
    text-align: center;   
     align-content: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}



.body{


}



/* 2532x1170 pixels at 460ppi */
@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3) { }

    /* 2778x1284 pixels at 458ppi */
@media only screen 
and (device-width: 428px) 
and (device-height: 926px) 
and (-webkit-device-pixel-ratio: 3) { }

@media all and (max-width: 480){
body{
    font: size 10px; ;
}


}

    
