h1 {
font-family:'Times New Roman', Times, serif ;
font-variant: small-caps;


}
p{
font-family: 'Times New Roman', Times, serif;
font-size: larger;
font-variant: small-caps;
color:  rgb(70, 69, 69);
background-color: rgb(222, 247, 220);


}

body{
background-color: rgb(222, 247, 220);

}
.wrap{
    background-color: rgb(222, 247, 220);
}
