/* Richard Davies, Data Science for Economists */

/* This is my second CSS file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */
 /* background-image: url(https://media.istockphoto.com/vectors/abstract-technical-background-vector-id1253930036?k=20&m=1253930036&s=612x612&w=0&h=eI4aTA5IP6ZGn4UeuReZCWuYCHQ2yk5UjSLiQVAXDiQ=);----->*/

body{
    background-color: rgb(222, 247, 220);

   
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1,h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 15px;
    font-size: small;
   
}
    
.myWeek1{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    background-color: rgb(249, 250, 251 , 0.3);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(111, 110, 110);
}
.myWeek2{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    background-color: rgb(249, 250, 251, 0.3);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(111, 110, 110);
}

.myWeek3{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    background-color: rgb(249, 250, 251, 0.3);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(111, 110, 110);
}


.myWeek4{
    margin: auto;
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    background-color: rgb(249, 250, 251, 0.3);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(111, 110, 110);
}

.myWeek5{
    font-family: 'Roboto', sans-serif;
    margin:auto;
    max-width: 1200px;
    background-color: rgb(249, 250, 251, 0.3);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(111, 110, 110);
}

.myWeek7{

    font-family: 'Roboto', sans-serif;
    margin:auto;
    max-width: 1200px;
    background-color: rgb(249, 250, 251, 0.3);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(111, 110, 110);
}

/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);


    width:450px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    margin: 75px;
}



.chart2{
    align-items: center;
    background-color: rgb(255, 255, 255);
    width:270px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    margin-left: 10px;
    margin-bottom: 35px;


}

.chart3{
    background-color: rgb(255, 255, 255);


    width:450px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    margin: 0px;
}

.link{ 
    border: 2px ;
    display: flex;
    align-items: center;

}
.ControlPanel{position: relative;
    background-color: #273349;
    overflow: hidden;
    justify-items: right;
    border-bottom: 1px solid #EFEEF5;
    margin-right: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    opacity: 100%;
    color: #EFEEF5;
}